*.[tT][gG][aA] filter=lfs diff=lfs merge=lfs -text
*.[tT][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[tT][iI][fF][fF] filter=lfs diff=lfs merge=lfs -text
*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
*.[hH][dD][rR] filter=lfs diff=lfs merge=lfs -text
*.[hH][dD][rR][iI] filter=lfs diff=lfs merge=lfs -text
*.[eE][xX][rR] filter=lfs diff=lfs merge=lfs -text
*.[gG][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[sS][vV][gG] filter=lfs diff=lfs merge=lfs -text
*.[tT][eE][rR] filter=lfs diff=lfs merge=lfs -text
*.[rR][aA][wW] filter=lfs diff=lfs merge=lfs -text
*.[bB][mM][pP] filter=lfs diff=lfs merge=lfs -text
*.[iI][cC][oO] filter=lfs diff=lfs merge=lfs -text
*.[wW][aA][vV] filter=lfs diff=lfs merge=lfs -text
*.[aA][vV][iI] filter=lfs diff=lfs merge=lfs -text
*.[mM][pP][234gG] filter=lfs diff=lfs merge=lfs -text
*.[mM][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
*.[aA][aA][cC] filter=lfs diff=lfs merge=lfs -text
*.[oO][gG][gvGV] filter=lfs diff=lfs merge=lfs -text
*.[oO][pP][uU][sS] filter=lfs diff=lfs merge=lfs -text
*.[fF][lL][aA][cC] filter=lfs diff=lfs merge=lfs -text
*.[mM][kK][avAV] filter=lfs diff=lfs merge=lfs -text
*.[mM][kK]3[dD] filter=lfs diff=lfs merge=lfs -text
*.[mM][oO][vV] filter=lfs diff=lfs merge=lfs -text
*.[mM]4[abprvABPRV] filter=lfs diff=lfs merge=lfs -text
*.[aA][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[aA][iI][fF][fF] filter=lfs diff=lfs merge=lfs -text
*.[aA][lL][aA][cC] filter=lfs diff=lfs merge=lfs -text
*.[qQ][tT] filter=lfs diff=lfs merge=lfs -text
*.[mM][iI][dD] filter=lfs diff=lfs merge=lfs -text
*.[mM][iI][dD][iI] filter=lfs diff=lfs merge=lfs -text
*.[aeAE][cC]3 filter=lfs diff=lfs merge=lfs -text
*.[dD][iI][vV][xX] filter=lfs diff=lfs merge=lfs -text
*.[xX][vV][iI][dD] filter=lfs diff=lfs merge=lfs -text
*.[hH]26[45] filter=lfs diff=lfs merge=lfs -text
*.[wW][mM][avAV] filter=lfs diff=lfs merge=lfs -text
*.[rR][aA] filter=lfs diff=lfs merge=lfs -text
*.[rR][mM] filter=lfs diff=lfs merge=lfs -text
*.[rR][aA][mM] filter=lfs diff=lfs merge=lfs -text
*.[rR][mM][vV][bB] filter=lfs diff=lfs merge=lfs -text
*.3[gG]2 filter=lfs diff=lfs merge=lfs -text
*.3[gG][pP] filter=lfs diff=lfs merge=lfs -text
*.3[gG][pP][pP] filter=lfs diff=lfs merge=lfs -text
*.[bB][iI][kK] filter=lfs diff=lfs merge=lfs -text
*.[bB][iI][kK]2 filter=lfs diff=lfs merge=lfs -text
*.[bB][kK]2 filter=lfs diff=lfs merge=lfs -text
*.[aA][vV][cC][hH][dD] filter=lfs diff=lfs merge=lfs -text
*.[bB][dD][mM][vV][cC] filter=lfs diff=lfs merge=lfs -text
*.[fF][lL][ciCI] filter=lfs diff=lfs merge=lfs -text
*.[fF][lL][vV] filter=lfs diff=lfs merge=lfs -text
*.[fF]4[vV] filter=lfs diff=lfs merge=lfs -text
*.[wW][eE][bB][ampAMP] filter=lfs diff=lfs merge=lfs -text
*.[tT][tT][fFcC] filter=lfs diff=lfs merge=lfs -text
*.[oO][tT][fF] filter=lfs diff=lfs merge=lfs -text
*.[wW][oO][fF][fF] filter=lfs diff=lfs merge=lfs -text
*.[wW][oO][fF][fF]2 filter=lfs diff=lfs merge=lfs -text
*.[fF][bB][xX] filter=lfs diff=lfs merge=lfs -text
*.[aA][bB][cC] filter=lfs diff=lfs merge=lfs -text
*.[oO][bB][jJ] filter=lfs diff=lfs merge=lfs -text
*.[mM][tT][lL] filter=lfs diff=lfs merge=lfs -text
*.[gG][lL][bB] filter=lfs diff=lfs merge=lfs -text
*.[gG][lL][tT][fF] filter=lfs diff=lfs merge=lfs -text
*.3[mM][fF] filter=lfs diff=lfs merge=lfs -text
*.[jJ][tT] filter=lfs diff=lfs merge=lfs -text
*.[sS][tT][lL] filter=lfs diff=lfs merge=lfs -text
*.[dD][wW][gG] filter=lfs diff=lfs merge=lfs -text
*.[dD][aA][eE] filter=lfs diff=lfs merge=lfs -text
*.[bB][lL][eE][nN][dD] filter=lfs diff=lfs merge=lfs -text
*.[mM][abpABP] filter=lfs diff=lfs merge=lfs -text
*.3[dD][sS] filter=lfs diff=lfs merge=lfs -text
*.[mM][aA][xX] filter=lfs diff=lfs merge=lfs -text
*.[cC]4[dD] filter=lfs diff=lfs merge=lfs -text
*.[uU][sS][dD] filter=lfs diff=lfs merge=lfs -text
*.[xX]3[dD] filter=lfs diff=lfs merge=lfs -text
*.7[zZ] filter=lfs diff=lfs merge=lfs -text
*.[gG][zZ] filter=lfs diff=lfs merge=lfs -text
*.[tT][aA][rzRZ] filter=lfs diff=lfs merge=lfs -text
*.[rR][aA][rR] filter=lfs diff=lfs merge=lfs -text
*.[zZ][iI][pP] filter=lfs diff=lfs merge=lfs -text
*.[aA][pP][kK] filter=lfs diff=lfs merge=lfs -text
*.[dD][mM][gG] filter=lfs diff=lfs merge=lfs -text
*.[iI][sS][oO] filter=lfs diff=lfs merge=lfs -text
*.[lL][zZ] filter=lfs diff=lfs merge=lfs -text
*.[pP][aA][kK] filter=lfs diff=lfs merge=lfs -text
*.[mM][sS][iI] filter=lfs diff=lfs merge=lfs -text
*.[rR][pP][mM] filter=lfs diff=lfs merge=lfs -text
*.[bB][iI][nN] filter=lfs diff=lfs merge=lfs -text
*.[dD][lL][lL] filter=lfs diff=lfs merge=lfs -text
*.[eE][xX][eE] filter=lfs diff=lfs merge=lfs -text
*.[jJ][aA][rR] filter=lfs diff=lfs merge=lfs -text
*.[sS][oO] filter=lfs diff=lfs merge=lfs -text
*.[aA][rR][rR] filter=lfs diff=lfs merge=lfs -text
*.[pP][sS][dD] filter=lfs diff=lfs merge=lfs -text
*.[aA][iI] filter=lfs diff=lfs merge=lfs -text
*.[aA][eE][pE] filter=lfs diff=lfs merge=lfs -text
*.[pP][dD][fF] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][cC] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][cC][xX] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][tT] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][tT][xX] filter=lfs diff=lfs merge=lfs -text
*.[mM][eE][sS][hH] filter=lfs diff=lfs merge=lfs -text
*.[aA][nN][iI][mM] filter=lfs diff=lfs merge=lfs -text
*.[uU][nN][iI][tT][yY][pP][aA][cC][kK][aA][gG][eE] filter=lfs diff=lfs merge=lfs -text
*.[bB][uU][nN][dD][lL][eE] filter=lfs diff=lfs merge=lfs -text
*.[sS][wW][fF] filter=lfs diff=lfs merge=lfs -text
*.[fF]4[aA] filter=lfs diff=lfs merge=lfs -text
*.fbx_____ filter=lfs diff=lfs merge=lfs -text
*.[aA][sS][sS][eE][tT] filter=lfs diff=lfs merge=lfs -text
*.[uU][nN][iI][tT][yY] filter=lfs diff=lfs merge=lfs -text
*.[pP][rR][eE][fF][aA][bB] filter=lfs diff=lfs merge=lfs -text
